<button 
        mat-button 
        color="disabled" 
        style="margin: 10px;"
        (click)="addTarefa()"
        >
    Adicionar tarefa
     <mat-icon>add</mat-icon>
</button>
<mat-selection-list #tarefas>
    <mat-list-option *ngFor="let tarefa of listaDeTarefas">
        {{ tarefa }}
        <button mat-button  color="warn" (click)="removerDaLista(tarefa)">excluir</button>
    </mat-list-option>
</mat-selection-list>

<p>
    Options selected: {{tarefas.selectedOptions.selected.length}}
</p>