* {
    margin: 0;
    padding: 0;
}

.flex-container {
    background-color:rgb(79, 122, 112);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
}

.div-lista {
    margin: 35px 0 0 0;   /* topo | direita | inferior | esquerda */
    width: 100%;
}

.lista {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.item-lista {
    list-style-type: none;
    font-size: 18px;
    cursor: pointer;
}

.titulo-tarefa {
    margin: 5px;
    span {
        color: white;
    }
}

.checkbox {
    p {
        padding-top: 10px;
        font-size: 18px;
    }
}

.botao {
    background-color:rgb(79, 122, 112);
    cursor: pointer;
    border: 0px;
}

.sem-tarefas {
    margin: 40px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-button {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin: 0 15px 10px 0;

    button {
        background-color:rgb(75, 114, 105);
    }
}

.paginator {
    margin: 5px;
    background-color:rgb(79, 122, 112);
    width: 100%;
}