<div class="flex-container">
    
    <div class="div-lista">
        <ul 
            class="lista"
            *ngFor="let tarefa of tarefasFiltradas"
        >
            <li 
                class="item-lista"  
                *ngIf="tarefa.realizada == false else tarefaRealizada"
                (click)="mudarStatus(tarefa)"
            >
                <h3 class="titulo-tarefa">
                    <span>Nome da Tarefa: </span>{{tarefa.nome}}
                </h3>

                <mat-checkbox 
                    class="checkbox"    
                    matTooltip="marcar tarefa como feita"
                >
                    <p>{{ tarefa.descricao}}</p>
                </mat-checkbox>
            </li>

            <ng-template #tarefaRealizada>
                <li 
                    class="item-lista"
                    (click)="mudarStatus(tarefa)"    
                >
                    <h3 class="titulo-tarefa">
                        <span>Nome da Tarefa: </span>{{tarefa.nome}}
                    </h3>

                    <mat-checkbox 
                        color="warn"
                        class="checkbox"
                        checked
                        matTooltip="desmarcar tarefa"
                    >
                        <p><del>{{tarefa.descricao}}</del></p>
                    </mat-checkbox>
                </li> 
            </ng-template>

            <div>
                <button 
                    class="botao"
                    matTooltip="editar tarefa"
                    (click)="abrirDialogEditar(tarefa)"
                >
                    <mat-icon>edit</mat-icon>
                </button>
            
                <button 
                    class="botao"
                    matTooltip="excluir tarefa"
                    (click)="abrirDialogDeletar(tarefa)"
                >
                    <mat-icon>delete</mat-icon>
                </button>
            </div>

        </ul>

        <!--Se o usuário não possuir tarefas mostro essa mensagem:-->
        <div *ngIf="this.tarefas.length == 0" class="sem-tarefas">
            <p>Você não possui tarefas pendentes no seu checklist...</p>
            <p>Clique no botão abaixo para adicionar tarefas!</p>
        </div>
    
    </div>

        <!--Se o usuário não possuir tarefas não mostro o paginator-->
        <mat-paginator
            *ngIf="this.tarefas.length > 0" 
            class="paginator"
            [length]="this.tarefas.length" 
            [pageSizeOptions]="[4]" 
            (page)="mostrarTarefas($event)"
        >
        </mat-paginator>

    <div class="flex-button">
        <!--Esse botão vai abrir um dialog que vai ser responsável por adicionar tarefas no checklist-->
        <button 
            matTooltip="adicionar tarefa" 
            mat-button
            (click)="abrirDialogAdicionar()"
        >
            Adicionar tarefa
        </button>
    </div>

</div>