<div class="flex-container">
    
    <div>
        <ul class="flex-item" *ngFor="let tarefa of this.tarefasFiltradas">
            <li class="item">
                <h2>Nome </h2>
                {{ tarefa.nome }}
            </li>

            <li 
                class="item-checkbox" 
                matTooltip="marcar tarefa como feita"  
                (click)="mudarStatus(tarefa)" 
                *ngIf="tarefa.realizada == false else tarefaRealizada"
            >
                <h2>Descrição </h2>
                <input class="input-checkbox" type="checkbox">
                {{ tarefa.descricao }}
            </li> 
            <ng-template #tarefaRealizada>
                <li 
                    class="item-checkbox" 
                    matTooltip="desmarcar tarefa"
                    (click)="mudarStatus(tarefa)"
                >
                    <h2>Descrição</h2>
                    <input checked class="input-checkbox" type="checkbox">
                    <del>{{ tarefa.descricao }}</del>
                </li> 
            </ng-template>

            <li class="item">
                <h2>Ação </h2>
                <div class="botoes">
                    <button 
                        matTooltip="editar tarefa"
                        (click)="abrirDialogEditar(tarefa)"
                    >
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button 
                        matTooltip="excluir tarefa"
                        (click)="abrirDialogDeletar(tarefa)"
                    >
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </li>
        </ul>

        <mat-paginator 
            class="paginator"
            [length]="this.tarefas.length" 
            [pageSizeOptions]="[4]" 
            (page)="mostrarTarefas($event)"
        >
        </mat-paginator>
    </div>

    <div *ngIf="this.tarefas.length == 0" class="sem-tarefas">
        <p>Você não possui tarefas pendentes no seu checklist...</p>
        <p>Clique no botão abaixo para adicionar tarefas!</p>
    </div>

    <div class="flex-button">
        <!--Esse botão vai abrir um dialog que vai ser responsável por adicionar tarefas no checklist-->
        <button 
            matTooltip="adicionar tarefa" 
            mat-button
            (click)="abrirDialogAdicionar()"
        >
            Adicionar tarefa
        </button>
    </div>

</div>